<!doctype html>
<html>
  <head>
    <title>{% block title %}Resolution Rust{% endblock %}</title>
    <link href="/static/styles/tailwind.css" rel="stylesheet" />

    <link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/gh/rose-pine/prism@refs/heads/main/dist/prism-moon.css"
	/>
  </head>
  <body class="bg-base text-text">
    <main>{% block content %}{% endblock %}</main>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-clike.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-rust.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-toml.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-json.min.js"
    ></script>
  </body>
</html>
